@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inter;
    list-style-type: none;
    text-decoration: none;
    --navbarColor: rgb(44, 55, 61);
    --navItemColor: hsl(200, 19%, 35%);
    transition: ease-in-out 100ms;
    overflow-x: hidden;
}

.navbarDiv {
    display: flex;
    position: fixed;
    width: 100dvw;
    height: 9dvh;
    background-color: var(--navbarColor);
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0 1dvw;
    z-index: 10;
    box-shadow: 0 0 4dvh 0 rgba(0, 0, 0, 0.4);
}

.navItem {
    background-color: var(--navItemColor);
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    padding-right: 2dvw;
    padding-left: 2dvw;
    align-items: center;
    transition: 150ms ease-in-out;
    border-radius: 2dvh;
}

.navItem:hover {
    background-color: hsl(200, 19%, 45%);
}

.navLink {
    color: aliceblue;
    font-size: 1.4rem;
}

.spacer {
    width: 100dvw;
    height: 9dvh;
}

.body {
    background-color: red;
    width: 100%;
    min-height: 100dvh;
}