@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inter;
    list-style-type: none;
    text-decoration: none;
    --navbarColor: rgb(44, 55, 61);
    --navItemColor: hsl(200, 19%, 35%);
    transition: ease-in-out 100ms;
    overflow-x: hidden;
}

body {
    width: 100dvw;
    min-height: 100dvh;
}

.navbarDiv {
    display: flex;
    position: fixed;
    width: 100dvw;
    height: 8dvh;
    background-color: var(--navbarColor);
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4dvh 0 rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.navbar {
    background-color: white;
    width: fit-content;
    padding-right: 0.15vw;
    padding-left: 0.15dvw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0 0.15dvw;
    z-index: 10;
    box-shadow: 0 0 4dvh 0 rgba(0, 0, 0, 0.4);
}

.navItem {
    background-color: var(--navbarColor);
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    padding-right: 2dvw;
    padding-left: 2dvw;
    align-items: center;
    transition: 150ms ease-in-out;
    /* border-radius: 2dvh; */
}

.navItem:hover {
    background-color: var(--navItemColor);
}

.navLink {
    color: aliceblue;
    font-size: 1.4rem;
}

.spacer {
    width: 100dvw;
    height: 8dvh;
}

.body {
    /* background-color: red; */
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

.contentDiv {
    /* background-color: gold; */
    width: 80%;
    min-height: 100dvh;
    display: flex;
    margin-top: 4dvh;
    margin-bottom: 4dvh;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    row-gap: 4dvh;
}

.article {
    /* background-color: aqua; */
    width: 75dvw;
    height: 40dvh;
    overflow-y: hidden;
    border: #eee 0.5dvh solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    align-content: space-between;

}

.imgContainer {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    order: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.aticleImage {
    background-color: coral;
    /* opacity: 10%; */
    height: 100%;
    width: auto;
    object-fit: cover;
}

.imgRight {
    order: 2;
}

.textDiv {
    /* background-color: red; */
    height: 100%;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    order: 1;
    flex-grow: 1;
    flex-basis: 50%;
}

.o {
    font-size: 2.5rem;
    text-align: start;
    margin: 0.8dvw;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-right: 10dvh;
}

.articleText {
    font-size: 1.2rem;
    text-align: start;
    margin: 0.8dvw;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    padding-right: 3dvh;
}