@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inter;
    list-style-type: none;
    text-decoration: none;
    --navbarColor: lightblue;
    --navItemColor: rgb(100, 148, 166);

}

.navbarDiv {
    display: flex;
    position: fixed;
    width: 100dvw;
    height: 10dvh;
    background-color: var(--navbarColor);
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.navItem {
    background-color: var(--navItemColor);
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    padding-right: 2dvw;
    padding-left: 2dvw;
    align-items: center;
    transition: 200ms ease-in-out;
}

.navItem:hover {
    background-color: rgb(121, 178, 198);
}

.navLink {
    color: aliceblue;
}

.spacer {
    width: 100dvw;
    height: 10dvh;
}

.body {
    width: 100dvw;
    height: 300dvh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
}

.articleContainer {
    background-color: darkcyan;
    width: 80dvw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5dvh 5dvh;
    border-radius: 2dvh;
}

.Article {
    background-color: aqua;
    margin: 5dvh;
}

.articleTitleDiv {}

.articleTitle {
    display: flex;
    justify-content: center;
}

.articleTextDiv {}

.articleText {
    display: flex;
    justify-content: center;
}